apiVersion: v1
kind: Service
metadata:
  name: myapp
  namespace: myapp
spec:
  selector:
    app: myapp
  ports:
    - name: metrics      # <--- port name
      port: 8080          # <--- service port
      targetPort: 8080    # <--- pod container port
