apiVersion: v1
kind: Service
metadata:
  name: myapp
  namespace: myapp
  labels: 
    monitoring: enabled
spec:
  selector:
    app: myapp
  ports:
    - port: 443
      targetPort: 443 ## this must match the pod open in deployment
