---
# Source: aws-for-fluent-bit/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-aws-for-fluent-bit
  namespace: amazon-cloudwatch
  labels:
    helm.sh/chart: aws-for-fluent-bit-0.1.35
    app.kubernetes.io/name: aws-for-fluent-bit
    app.kubernetes.io/instance: fluent-bit-aws-for-fluent-bit
    app.kubernetes.io/version: "2.32.2.20240516"
    app.kubernetes.io/managed-by: Helm
data:
  fluent-bit.conf: |
    [INPUT]
        Name tail
        Tag myapp
        Path /var/log/containers/myapp-*.log
        DB /var/log/flb_myapp.db
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On
        Refresh_Interval 10
        multiline.parser docker, cri
    
    [FILTER]
        Name kubernetes
        Match kube.*,myapp
        Merge_Log On
        Merge_Log_Key data
        Keep_Log On
        K8S-Logging.Parser On
    
    [OUTPUT]
        Name cloudwatch_logs
        Match myapp
        region us-east-1
        log_group_name /aws/eks/fluentbit-cloudwatch/logs
        log_stream_prefix myapp-
        auto_create_group true
